body {
  height: 100vh;
  font-family: 'Oxygen', sans-serif;
}

.content {
  text-align: center;
}

#logo {
  width: 120px;
  height: 100px;
  padding-left: 29px;
}

#title {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.book-assignment {
  width: 240px;
  height: 120px;
  padding-bottom: 30px;
}
