body {
  font-family: 'Oxygen', sans-serif;
  background: linear-gradient(-45deg, #b7b5b5, #f7f7f7);
}

.content {
  text-align: center;
}

#logo {
  width: 120px;
  height: 100px;
  padding-left: 29px;
}

/*.back {
  display: inline-block;
  text-align: left;
}

#back-button {
  text-align: left;
}

.header-title {
  display: inline-block;
  text-align: center;
}*/

#title {
  font-weight: bold;
  text-align: center;
}

#description {
  text-align: center;
}

ul {
  list-style-type: none;
}

.book-assignment {
  width: 240px;
  height: 120px;
  padding-bottom: 30px;
}
